version: '3.4'

services:
  admin-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "30010:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  sts-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "30015:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  localization-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "30030:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  platform-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "30025:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  messages-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "30020:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  task-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "30040:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  webhook-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "30045:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  workflow-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "30050:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  sts-server:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "44385:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  internal-apigateway:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "30000:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
