@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model LY.MicroService.IdentityServer.Pages.Account.VerifyCodeModel
<div class="card mt-3 shadow-sm rounded">
    <div class="card-body p-5">
        <form method="post" class="mt-4">
            <input asp-for="Provider" />
            <input asp-for="ReturnUrl" />
            <input asp-for="ReturnUrlHash" />
            <input asp-for="RememberMe" />
            <div class="form-group">
                <abp-input asp-for="Input.VerifyCode" label="@L["VerifyCode"].Value" class="form-control" />
            </div>
            <abp-row>
                <abp-column>
                    <abp-input asp-for="Input.RememberBrowser" label="@L["RememberBrowser"].Value" />
                </abp-column>
            </abp-row>
            <abp-button type="submit" button-type="Primary" class="btn-block btn-lg mt-3">@L["VerifyAuthenticatorCode"]</abp-button>
        </form>
    </div>
</div>
