@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model LY.MicroService.IdentityServer.Pages.Account.VerifyAuthenticatorCodeModel
@inject IHtmlLocalizer<AccountResource> L
<div class="card mt-3 shadow-sm rounded">
    <div class="card-body p-5">
        <form method="post" class="mt-4">
            <input asp-for="RememberMe" />
            <input asp-for="ReturnUrlHash" />
            <div class="form-group">
                <label asp-for="Input.VerifyCode"></label>
                <input asp-for="Input.VerifyCode" class="form-control" />
                <span asp-validation-for="Input.VerifyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RememberBrowser"></label>
                <abp-input asp-for="RememberBrowser" />
            </div>
            <abp-button type="submit" button-type="Primary" class="btn-block btn-lg mt-3">@L["VerifyAuthenticatorCode"]</abp-button>
        </form>
    </div>
</div>